body {
    margin: 0;
    vertical-align: top;
    font-family: "Serif", serif;
}

.main-title {
    padding-top: 20px;
    text-align: center;
}

.usage-results {
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 120px;
}

.word_in_query {
    color: darkslateblue;
}

.definition {
    margin-left: 30px;
}

.ted_card {
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: 60px;
    width: 750px;
    height: 300px;
    float: left;
}

.ted_quote {
    margin: 15px 10px 10px;
}

.ted_video_src {
    height: 270px;
    width: 480px;
}

.ted_video {
    padding: 15px;
    object-fit: fill;
}

.card {
    margin-bottom: 30px;
    border-radius: 10px;
}

.video-mask {
    width: 480px;
    height: 270px;
    border-radius: 10px;
    overflow: hidden;
    /*float: left;*/
    /*margin-bottom: 10px;*/
}

.welcome_message {
    text-align: center;
}

.error_message {
    text-align: center;
    color: salmon;
}

.input-group {
    padding-block: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.source_code_ref {
    text-align: center;
    color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "IBM Plex Mono", monospace;
}

.bi-github {
    width: 40px;
    height: auto;
}

.bi-book {
    height: 50px;
    width: auto;
}

a:link {
    color: gray;
}

.card-text:last-child {
     margin-bottom: 10px;
}