body {
    margin: 0;
    vertical-align: top;
    font-family: "Serif", serif;
}

.main-title {
    text-align: center;
}

.usage-results {
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 120px;
}

.word_in_query {
    color: darkslateblue;
}

.definition {
    margin-left: 30px;
}

.ted_card {
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: 60px;
    width: 750px;
    height: 300px;
    float: left;
}

.ted_quote {
    margin-left: 10px;
    padding-left: 30px;
    text-align: right;
}

.ted_video {
    height: 270px;
    width: 480px;
    float: left;
}

.video-mask {
    width: 480px;
    height: 270px;
    border-radius: 10px;
    overflow: hidden;
    float: left;
}

.welcome_message {
    text-align: center;
}

.error_message {
    text-align: center;
    color: salmon;
}

.input-group {
    padding-block: 20px;
    padding-left: 100px;
    padding-right: 100px;
}